:root{
  --color-nutmeg: hsl(14, 45%, 36%);
  --color-dark-raspberry: hsl(332, 51%, 32%);
  --color-White: hsl(0, 0%, 100%);
  --color-rose-white: hsl(330, 100%, 98%);
  --color-eggshell: hsl(30, 54%, 90%);
  --color-light-grey: hsl(30, 18%, 87%);
  --color-wenge-brown: hsl(30, 10%, 34%);
  --color-dark-charcoal: hsl(24, 5%, 18%);
}

html{
  font-size: 62.5%;
}

.attribution { 
  margin: 5rem 1rem;
  font-size: 1.5rem; 
  text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}

body{
  margin: 0;
  font-family: "Outfit", sans-serif;
  font-size: 2rem;
  max-width: 758px;
}

img{
  width: 100vw;
  min-width: 390px;
}

.contaimer{
  margin: 5rem 2rem;
}

h1, h2{
  font-family: "Young Serif", serif;
  line-height: 1.1;
  font-weight: 600;
}

h1{
  color: var(--color-dark-charcoal);
  font-size: 2.7rem;
}

h2 {
  color: var(--color-nutmeg);
  margin-top: 5rem;
}

.preparation-time > p{
  color: var(--color-dark-raspberry);
  font-weight: bold;
}

p{
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.4;
}

p, li, td{
  color: var(--color-wenge-brown);
}

li{
  margin-bottom: 1.2rem;
  padding-left: 1.5rem;
}

li{
  font-size: 1.7rem;
}

.preparation-time{
  background: var(--color-rose-white);
  padding: 1rem 4rem;
  border-radius: 1rem;
  margin: 5rem 0;
}

hr{
  background: var(--color-light-grey);
  height: 1px;
  border: none;
  margin-top: 5rem;
}

table{
  width: 100%;
}

td{
  padding: 1rem 1rem 1rem 2.5rem;
  border-bottom: 1px solid var(--color-light-grey);
}

.td__value{
  font-weight: 700;
  color: var(--color-nutmeg);;
}

@media screen and (min-width:758px) {
  body{
    background: var(--color-eggshell);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10rem;
    margin: 0 auto;
    font-size: 1.8rem;
  }
  .main-container{
    background: var(--color-White);
    min-width: 700px;
    max-width: 1024px;
    padding: 2rem;
    border-radius: 2rem;
  }

  img{
    max-width: 100%;
  }

  .preparation-time > p{
    font-size: 2.5rem;
  }
  p{
    font-size: 1.5rem;
  }
  
}





